@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}
.round-img {
  border: 1px solid lightgrey;
  border-radius: 50%;
}
img {
  min-width: 100px;
  min-height: 100px;
  max-width: 150px;
  max-height: 150px;
}
ul {
  list-style: none;
}

/* Cards */
.card-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 32px;
}
.card {
  display: flex;
  gap: 5%;
  flex-shrink: 2;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: auto;
}
.name {
  font-weight: 900;
  font-size: 40px;
}

.info p {
  margin-left: 20px;
}
.info ul {
  margin-top: 2rem;
  line-height: 1.4rem;
  margin-left: 20px;
}
input[type="text"] {
  display: block;
  width: 100%;
  padding: 1rem 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;

}
button {
  background: none;
  border: none;
  cursor: pointer;
}
.show {
  position: absolute;
  padding: 0 8rem;
  right: 0;
}
input.tag-input {
  border-width: 0px;
  flex: 1;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 2rem;
  line-height: 1.4rem;
  margin-left: 20px;
  outline: none;
}
.tag{
  font-family: "Raleway", sans-serif;
  width: 25%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 8px 0;
  font-size: 14px;
  border-radius: 6px;
  background: lightgray;
}
